@model DBESearch.ViewModels.CompanySearchViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @*@Scripts.Render("~/bundles/jqueryui")*@

    <script type="text/javascript">
        $('#States').multiselect({
            maxHeight: 200,
            nonSelectedText: 'Select States',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '400px',
        });

        $('#OwnerZipCodes').multiselect({
            maxHeight: 200,
            nonSelectedText: 'Select Zipcodes',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '400px',
        });
        $('.mdb-select').multiselect({
            maxHeight: 200,
            nonSelectedText: "Select Codes",
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '800px',
            //onChange: function (option, checked, select) {
            //    alert("You are here");
            //}
        });

        $('#ItemCodes').multiselect({
            maxHeight: 200,
            nonSelectedText: "Select Item Codes",
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '800px',
            //onChange: function (option, checked, select) {
            //    alert("You are here");
            //}
        });

        $('#Cities').multiselect({
            maxHeight: 200,
            nonSelectedText: "Select Cities",
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '600px',
        });
        //Need this to test validation. If validates then call the search functionality.
        function ValidatePage() {
            if (!$('#DBE:checkbox').is(':checked') && !$('#ACDBE:checkbox').is(':checked') && !$('#SBE:checkbox').is(':checked') && !$('#MBE:checkbox').is(':checked')) {
                alert('You must choose at Least one Certification');
            }
        };

        var minLength = 2;

        //Generates the NAICS Codes list to choose from
        function getForm() {
            $('#dialog').dialog({
                autoOpen: true,
                width: 800,
                height: 400,
                resizable: true,
                position: {my: "center", at: "center", of: window},
                title: 'NAICS Codes',
                modal: true,
                open: function (event, ui) {
                    $(this).load('@Url.Action("PartialForm", "DBECompany")');
                },
                click: $("#dialog").on("click", "#NAICSCodesTable tr", function (event) { var rowdata = $(this).children("td").map(function () { return $(this).text();}).get();  $('#NAICS').val(rowdata[0]); }),

                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    },
                }
            });
        }

        //Generates the Departmental Item Codes list to choose from
        function getItemCodeForm() {
            $('#ItemCodedialog').dialog({
                autoOpen: true,
                width: 800,
                height: 400,
                resizable: true,
                position: { my: "center", at: "center", of: window },
                title: 'Item Codes',
                modal: true,
                open: function (event, ui) {
                    $(this).load('@Url.Action("ItemPartialForm", "DBECompany")');
                },
                click: $("#ItemCodedialog").on("click", "#ItemCodesTable tr", function (event) { var rowdata = $(this).children("td").map(function () { return $(this).text(); }).get(); $('#Item').val(rowdata[0]); }),

                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    },
                }
            });
        }

        
        $('#Search').on('click', function (event) {
            var naicsCodes = $('#NAICS').val();
            var itemCodes = $('#ItemCode').val();
            var naicsArray = new Array();
            var itemCodeArray = new Array();

            var re = /(\w+)\s\-\s.*/;

            if (naicsCodes) {
                naicsCodes.forEach(function (item, i, a) {
                    var parsedString = item.replace(re, '$1')
                    naicsArray.push(parsedString);
                });
            }
            if (itemCodes) {
                itemCodes.forEach(function (item, i, a) {
                    var parsedString = item.replace(re, '$1')
                    itemCodeArray.push(parsedString);
                });
            }

            var formdata = {
                DBE: $('#DBE').is(':checked')
                , ACDBE: $('#ACDBE').is(':checked')
                , SBE: $('#SBE').is(':checked')
                , MBE: $('#MBE').is(':checked')
                , Company: $('#Company').val()
                , CompanyId: $('#currentCompanyId').val()
                , BusinessDescription: $('#BusinessDescription').val()
                , NAICS: naicsArray//$('#NAICS').val()                               //will become an array, ask Richard about using select2
                , ItemCode: itemCodeArray
                , OwnerFirstName: $('#OwnerFirstName').val()
                , OwnerLastName: $('#OwnerLastName').val()
                , Cities: $('#Cities').val()
                , States: $('#States').val()
                , OwnerZipCodes: $('#OwnerZipCodes').val()
                , AreaCode: $('#AreaCode').val()
                , Counties: $('#Counties').val()
            };
            $.ajax({
                method: 'POST',
                datatype: 'html',
                data: formdata,
                url: '@Url.Action("SearchResults")',
                success: function (data) {
                    $('#SearchResultsContainer').html(data);
                }
            });
        });

        //THIS IS IMPORTANT...THE DBA NAMES ARE NOT WORKING IN THE SEARCH RESULTS
        //need to combine the dba names in this list
        $("#Company").autocomplete({
            minLength: 2,
            delay: 0,
            source: '@Url.Action("companies", "DBECompany")',
            select: function (event, ui) {
                if (ui.item.data) {
                    $('#currentCompanyId').val(ui.item.data.CompanyId);
                }
            },
            error: function (data) {
                $("#companyList").removeClass('ui-autocomplete-loading');
            }
        }).keypress(function (e) {
            if (e.which === 13)
                window.location = '@Url.Action("Index")?q=' + this.value;
        });

        $("#BusinessDescription").autocomplete({
            delay: 0,
            minLength: 2,
            source: '@Url.Action("GetBusinessDescription","DBECompany")',
            select: function (event, ui) {
                if (ui.item.data)
                    $("#currentBusinessDescription").val(ui.item.data.BusinessDescription);
            },
            error: function (data) {
                $("#BusinessDescription").removeClass('ui-autocomplete-loading');
            }
        }).keypress(function (e) {
            if (e.which === 13)
                window.location = '@Url.Action("Index")?q=' + this.value;
        });

        $("#OwnerFirstName").autocomplete({
            minLength: 2,
            source: '@Url.Action("firstName","DBECompany")',
            select: function (event, ui) {
                if (ui.item.data)
                    $("#currentOwnerFirstName").val(ui.item.data);
            },
            error: function (data) {
                $("#OwnerFirstName").removeClass('ui-autocomplete-loading');
            }
        }).keypress(function (e) {
            if (e.which === 13)
                window.location = '@Url.Action("Index")?q=' + this.value;
        });


        $("#OwnerLastName").autocomplete({
            minLength: 2,
            source: '@Url.Action("lastname","DBECompany")',
            select: function (event, ui) {
                if (ui.item.data)
                    $("#currentOwnerLastName").val(ui.item.data);
            },
            error: function (data) {
                $("#OwnerLastName").removeClass('ui-autocomplete-loading');
            }
        }).keypress(function (e) {
            if (e.which === 13)
                window.location = '@Url.Action("Index")?q=' + this.value;
        });


        $("#AreaCode").autocomplete({
            minLength: 2,
            source: '@Url.Action("GetAreaCode","DBECompany")',
            select: function (event, ui) {
                if (ui.item.data)
                    $("#AreaCode").val(ui.item.data);
            },
            error: function (data) {
                $("#AreaCode").removeClass('ui-autocomplete-loading');
            }
        }).keypress(function (e) {
            if (e.which === 13)
                window.location = '@Url.Action("Index")?q=' + this.value;
        });



        //////////////////////////////////////////////
        //$("#Select2States").select2();
        //$("#Select2States").select2({multiple: true});
        //////////////////////////////////////////////
        //allow user to search only on cities where we have dbe companies
        $("#City").autocomplete({
            delay: 0,
            minLength: 2,
            source: '@Url.Action("cities","DBECompany")',
            select: function (event, ui) {
                if (ui.item.data)
                    $("#city").val(ui.item.data.City);
            },
            error: function (data) {
                $("#City").removeClass('ui-autocomplete-loading');
            }
        }).keypress(function (e) {
            if (e.which === 13)
                window.location = '@Url.Action("Index")?q=' + this.value;
            });

    </script>
}
@ViewBag.message
<h2>AHTD DBE Company Search</h2>
@using (Html.BeginForm("Index", "DBECompany", FormMethod.Post, new { id = "DBESearchForm" }))
{
    @*<legend class="display-title">Search Engine</legend>*@
    @Html.HiddenFor(model => model.CompanyId, new { id = "currentCompanyId" })
    <fieldset>
        <h2>AHTD DBE Company Search</h2>
        <section>
            <p>ARDOT'S DBE Search Page</p>
            <p>Search results may be downloaded to Excel, by clicking the "Download Results to Excel" button after your search results are displayed. To download the full Certification Directory do not enter search criteria, scroll to the bottom of the page and click the "Download Entire Directory to Excel" button.</p>
            <p>The DBE directory is solely for the purpose of identifying those DBEs that are certified in the State of Arkansas. It is not intended to represent a listing of DBEs deemed eligible to participate on contracts, or to indicate that such DBEs satisfy any requirements which may affect DBEs ability to work on contracts.</p>
            <a href="http://www.arkansashighways.com/ProgCon/letting/dbedirectory.pdf" , target="_blank">Link to Arkansas PDF</a><br />
            <a href="https://txdot.txdotcms.com/?TN=txdot" , target="_blank">TxDOT Directory Search Page</a>
        </section>
        <div>
            <h3>Search by Certification Type</h3><p> (Select at least one)</p>
            <table id="CertificaitonTypes">
                <tr>
                    <td>@Html.CheckBoxFor(model => model.DBE, new { @checked = "checked" }) @Html.LabelFor(model => model.DBE)</td>
                </tr>
                <tr>
                    <td>@Html.CheckBoxFor(model => model.ACDBE, new { @checked = "checked" })  @Html.LabelFor(model => model.ACDBE)</td>
                </tr>
                <tr>
                    <td>@Html.CheckBoxFor(model => model.SBE, new { @checked = "checked" })    @Html.LabelFor(model => model.SBE)</td>
                </tr>
                <tr>
                    <td>@Html.CheckBoxFor(model => model.MBE, new { @checked = "checked" })    @Html.LabelFor(model => model.MBE)</td>
                </tr>
            </table>
        </div>
        <div class="ui-widget">
            <H3>Search by Business or the DBA Name:</H3>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Company)
                        @Html.TextBoxFor(model => model.Company, null, new { @class = "searchBar" })
                        @Html.HiddenFor(model => model.CompanyId)
                    </td>
                </tr>
            </table>
        </div>
        <div class="ui-widget">
            <h3>Search by Business Description</h3>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.BusinessDescription)
                        @Html.TextBoxFor(model => model.BusinessDescription, null, new { @class = "searchBar" })
                        @Html.HiddenFor(model => model.BusinessDescription, new { @id = "currentBusinessDescription" })
                    </td>
                </tr>
            </table>
        </div>

        @*<div id="CommodityCodes" style="display:none;">
                <h3>Search by NAICS or Departmental Code </h3>
            <input id="modaldiv" type="button" value="Look up by NAICS Code" onclick="getForm()" />
            @Html.TextBox("NAICS")

            <input id="ItemCodemodaldiv" type="button" value="Look up by Item Code" onclick="getItemCodeForm()" />
            @Html.TextBox("Item")
            @Html.Hidden("ItemCodeListtoSearch")

            @Html.TextArea("ItemCodesTextArea", new {@class = "ItemCodesTextArea" , @cols = 60, @rows = 6 })


            <div id="dialog" style="display:none;"></div>
            <div id="ItemCodedialog" style="display:none;"></div>

                <input id="HideCommoditiesDiv" type="button" value="Finished" onclick="HideCommodityDiv()"/>
                    <input id="ItemCodemodaldiv" type="button" value="Look up by Item Code" onclick="getItemCodeForm()" />
                    @Html.TextBoxFor(model => model.ItemCode)

                    <div id="dialog" style="display:none;"></div>
                    <div id="ItemCodedialog" style="display:none;"></div>
                    <div id="companyDetailDialog" style="display:none;"></div>
            </div>*@

        <div id="CommodityCodes">
            <h3>Commodity Codes</h3>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.NAICS)
                        @Html.DropDownListFor(model => model.NAICS, new MultiSelectList(ViewBag.NAICSList), new { multiple = "multiple", searchable = "Search here...", @class = "mdb-select md-form colorful-select dropdown-primary" })
                        @*@Html.DropDownListFor(model => model.NAICS, new MultiSelectList(ViewBag.NAICSList), "Select Many", new { @Name = "NAICS[]", Multiple = true, @Class = "mdb-select md-form colorful-select dropdown-primary" })<br /><br />*@
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ItemCode)
                        @Html.DropDownListFor(model => model.ItemCode, new MultiSelectList(ViewBag.ItemCodeList), new { multiple = "multiple", searchable = "Search here...", @class = "mdb-select md-form colorful-select dropdown-primary" })
                        @*@Html.DropDownListFor(model => model.NAICS, new MultiSelectList(ViewBag.NAICSList), "Select Many", new { @Name = "NAICS[]", Multiple = true, @Class = "mdb-select md-form colorful-select dropdown-primary" })<br /><br />*@
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <h3>Search by Contact Person</h3>
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.OwnerFirstName) </td>
                    <td>@Html.TextBoxFor(model => model.OwnerFirstName, null, new { @class = "searchBar" })</td>
                    <td>@Html.HiddenFor(model => model.OwnerFirstName, new { @id = "currentOwnerFirstName" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.OwnerLastName)</td>
                    <td>@Html.TextBoxFor(model => model.OwnerLastName, null, new { @class = "searchBar" })</td>
                    <td>@Html.HiddenFor(model => model.OwnerLastName, new { @id = "currentOwnerLastName" })</td>
                </tr>
            </table>
        </div>

        <div>
            <h3>Search by Company Location</h3>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Cities)
                        @*@Html.TextBoxFor(model => model.Cities, null, new { @class = "searchBar", @id = "City" })<br />*@
                        @Html.DropDownListFor(model => model.Cities, new MultiSelectList(ViewBag.CityList), "Select Many", new { @Name = "Cities[]", Multiple = true, @class = "Form-Control" })<br /><br />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("State")
                        @Html.DropDownListFor(model => model.States, new MultiSelectList(ViewBag.StateList), "Select Many", new { @Name = "States[]", Multiple = true, Class = "Form-Control" })<br /><br />
                    </td>
                </tr>
               <tr>
                    <td>
                        @Html.LabelFor(model => model.OwnerZipCodes)
                        @Html.DropDownListFor(model => model.OwnerZipCodes, new MultiSelectList(ViewBag.ZipCodeList, "Select Many"), new { @Name = "OwnerZipCodes[]", Multiple = true, @class = "Form-Control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.AreaCode)
                        @Html.TextBoxFor(model => model.AreaCode, null, new { @class = "searchBar" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.County)
                        @Html.TextBoxFor(model => model.County, null, new { @class = "searchBar" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="District" multiple="multiple" name="District">
                            <option value=''>All Districts</option>
                            <option value='1'>District 1 - Crittenden, Cross, St. Francis, Lee, Monroe, Phillips, Woodruff</option>
                            <option value='2'>District 2 - Arkansas, Ashley, Chicot, Drew, Grant, Jefferson, Lincoln</option>
                            <option value='3'>District 3 - Hempstead, Howard, Lafayette, Little River, Miller, Nevada, Pike, Sevier</option>
                            <option value='4'>District 4 - Crawford, Franklin, Logan, Polk, Scott, Sebastian</option>
                            <option value='5'>District 5 - Cleburne, Fulton, Independence, Izard, Jackson, Sharp, Stone, White</option>
                            <option value='6'>District 6 - Garland, Hot Springs, Lonoke, Prairie, Pulaski, Saline </option>
                            <option value='7'>District 7 - Bradley, Calhoun, Clark, Cleveland, Dallas, Ouachita, Union</option>
                            <option value='8'>District 8 - Conway, Faulkner, Johnson, Montgomery, Perry, Pope, Van Buren, Yell</option>
                            <option value='9'>District 9 - Baxter, Boone, Carrol, Madison, Marion, Newton, Searcy</option>
                            <option value='10'>District 10 – Clay, Craighead, Greene, Lawrence, Mississippi, Poinsett, Randolph </option>
                        </select>
                    </td>
                </tr>
            </table>
            @*<select id="ddlzipcodes" style="display:inline">
                    @foreach (var zip in ViewBag.ZipCodeList)
                    {
                        <option value='@zip'>@zip</option>
                    }
                </select>
                @Html.DropDownListFor(x => x.Zip, new MultiSelectList(ViewBag.ZipCodeList))*@

            @*@Html.DropDownList("Zip",new SelectList(ViewBag.ZipCodeList),"Select ZipCode")*@

            @*@Html.ListBoxFor(x => x.Zip, new MultiSelectList(ViewBag.ZipCodeList))*@<br />

           
            
        </div>

        @*<div>
                <h3>Search by Certification Type</h3>(Select at least one)

                    @Html.CheckBox("ACDBE")@Html.Label("Airport Concessionaire Disadvantaged Business Enterprise (ACDBE)")
                    @Html.CheckBox("DBE")@Html.Label("Disadvantaged Business Enterprise (DBE)")
                    @Html.CheckBox("SBE")@Html.Label("Small Business Enterprise-Nathan (SBE)")
            </div>   *@
        <div style="text-align: center">
            @Html.Label("Search Companies Meeting Criteria")
            <input type="button" value="deleteTest" id="deleteTest" />
            <input id="Search" type="button" value="Search" />
            <input id="Validate" type="button" value="Validate" onclick="ValidatePage()" />
        </div>
        <br />
        <p><div id="SearchResultsContainer"></div></p>
    </fieldset>
}
