@model IEnumerable<DBESearch.Models.NAICSCode>

@{
    ViewBag.Title = "Index";
}

<style>
    /*tr:nth-last-of-type(even) {background-color: #f2f2f2;}
    table, th, td {border: 1px solid black;}*/
</style>

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table border ="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAICSCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAICSCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.NAICSCode}) |
                @Html.ActionLink("Details", "Details", new {id=item.NAICSCode}) |
                @Html.ActionLink("Delete", "Delete", new {id=item.NAICSCode})
            </td>
        </tr>
    }

    </table>*@
<div id="NAICTableContainer"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/jtable")

    <script>
    $(document).ready(function () {
        $('#NAICTableContainer').jtable({
            title: 'ARDOT NAICS Codes',
            paging: true,
            pageSize: 20,
            sorting: true,
            defaultSorting: 'NAICSCode ASC',
            actions: {
                listAction: '/NAICS/NAICSList',
                deleteAction: '/NAICS/NAICSDelete',
                updateAction: '/NAICS/NAICSUpdate',
                createAction: '/NAICS/NAICSInsert'
            },
            fields: {
                NAICSCode: {
                    title: 'NAICS Code',
                    width: '20%',
                    key: true,
                    list: true,
                    create: true,
                    edit: true

                },
                Description: {
                    title: 'Description',
                    width: '40%'
                }
            }
        });
        $('#NAICTableContainer').jtable('load');
    });
    </script>
}